@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Aleo:wght@400&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
.header-bg {
    background: url('img/HeaderBackground.svg') no-repeat center center/cover;
    height: 100vh;
    width: 100%;  
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.header-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.header-content h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: #ffffff;
    margin: 0;
}

.header-content .subheading {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.31em;
    color: white;
    margin: 10px 0 40px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 647px;
    height: 60px;
    margin: 0 auto;
    border-radius: 0px;
}

.search-description {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #999999;
    margin-left: 20px;
    flex: 1;
    margin-left: -150px;
}

.search-form button {
    width: 139px;
    height: 52px;
    background-color: #5373FD;
    border: none;
    border-radius: 0px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin-right: 8px;
}

.search-form button img {
    margin-right: 10px;
}

.search-form button:hover,
.search-form button:focus {
    background-color: #4353d3; 
}

.scroll-down {
    margin-top: 200px;
}


.scroll-down p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #f4f3f3; 
    margin: 0;
}

.chevron-down {
    width: 20px;
    margin-top: 10px;
}

/* Navigation */
.navigation {
    position: relative; 
    width: 100%; 
    height: 84px;
    top: 40px; 
    background-color: #5373FD;
    padding: 10px 0;
    z-index: 1000;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;

}

.nav-logo {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: white;
    text-decoration: none;
    margin-left: 50px;
    
}

.nav-right {
    display: flex;
    gap: 20px;
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: white;
    margin-left: -60px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.burger-menu {
    display: none;
}

.burger-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.close-icon:hover,
.close-icon:focus {
    color: #4353d3; 
}

.burger-icon:hover,
.burger-icon:focus {
    color: #4353d3; 
}

.nav-link:hover,
.nav-link:focus {
    color: #4353d3;
}


/* Mobile Navigation */
.mobile-nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.mobile-nav-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close-icon {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Main content */

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    background: url('img/WhyBackground.svg') no-repeat center center/cover;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 600px;
    color: #ffffff;
    margin-left: 60px;
}

.container h2 {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
    
}

.container .body-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}


.container button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #f3f3f3;
    background-color: #5373FD;
    border: none;
    padding: 16px 24px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.images {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 60px;
    margin-left: -200px;
}

.images img {
    width: 70%;
    max-width: 500px;
    height: auto;
    
}

.images-second {
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    margin-left: 18px;
}

.images .image1 {
    height: 100%;
    object-fit: cover;
    margin-left: -60px;
}

.images-second .image2 {
    height: 100%;
    object-fit: cover;
}

.container button:hover,
.container button:focus {
    background-color: #4353d3; 
}


.section2 {
    background-color: #333333;
    padding: 60px 0;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
}

.icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.icon-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.dotted-line {
    width: 100px;
    height: 50px;
}

.dotted-line path {
    stroke: #FFFFFF;
    stroke-width: 2;
    fill: none;
    stroke-dasharray: 5,5;
}

.section3 {
    position: relative;
    background: url('img/render-1477041_1280\ 1.svg') no-repeat center center/cover;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-container {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    max-width: 500px;
    text-align: left;
    margin-left: -550px;
}

.card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-subtitle {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 190px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #f5f5f5;
    background-color: #5373FD;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-button:hover,
.card-button:focus {
    background-color: #4353d3; 
}

.section4 {
    position: relative;
    background: url('img/spain-1859434_1280\ 1.svg') no-repeat center center/cover;
    height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card-container-second {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    max-width: 500px;
    text-align: left;
    margin-left: 550px;
}

.card-container-second .card-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-container-second .card-subtitle {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-container-second .card-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin: 20px 0;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.card-container-second .card-button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    width: 190px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #f5f5f5;
    background-color: #5373FD;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-button:hover,
.card-button:focus {
    background-color: #4353d3; 
}

.section5 {
    background: url('img/BG.svg') no-repeat center center/cover;
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.section5-content {
    max-width: 1200px;
    margin: 0 auto;
}

.section5-title {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
    color: white;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #333333; 
    padding: 20px;
}

.testimonial-photo {
    flex: 1;
    width: 200px;
}

.testimonial-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
   
}

.testimonial-text {
    flex: 2;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 0.1em;
}

.testimonial-name {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    color: white;
}

.testimonial-quote p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: white;
    letter-spacing: 0.1em;
    line-height: 28px;
}

.testimonial-quote img {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}


/* Footer */
.footer {
    background-color: #000000;
    padding: 40px 0;
    text-align: center;
    color: white;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    letter-spacing: 0.1em;
}

.footer-subtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px;
    letter-spacing: 0.1em;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .social-icon img {
    width: 24px;
    height: 24px;
  }
  
  .social-icon:hover img {
    filter: invert(30%) sepia(93%) saturate(558%) hue-rotate(186deg) brightness(92%) contrast(100%);
  }


  @media screen and (min-width: 1200px) {
   
    body {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    /* Header */
    .header-bg {
        height: 100vh;
    }

    .header-content {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 150px;
    }

    .header-content h1 {
        font-size: 48px;
        line-height: 52px;
    }

    .header-content .subheading {
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
    }

    .search-form {
        width: 647px;
        height: 60px;
    }

    .search-description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
        margin-left: -150px;
    }

    .search-form button {
        width: 139px;
        height: 52px;
    }

    .scroll-down {
        margin-top: 200px;
    }

    .scroll-down p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
    }

    .chevron-down {
        width: 20px;
        margin-top: 10px;
    }

    /* Navigation */
    .navigation {
        width: 100%;
        height: 84px;
        top: 40px;
        margin-top: -40px;
    }

    .nav-container {
        max-width: 1200px;
        padding: 0 20px;
    }

    .nav-logo {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }

    .nav-right {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
    }

    .nav-link {
        font-size: 1rem;
    }

    .section1 {
        padding: 60px 20px;
    }

    .content-wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .container {
        max-width: 600px;
    }

    .container h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .container .body-text {
        font-size: 16px;
        line-height: 24px;
    }

    .container button {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        padding: 16px 24px;
    }

    .images {
        margin-top: 60px;
        margin-left: -200px;
    }

    .images img {
        width: 70%;
        max-width: 500px;
    }

    .images-second {
        margin-top: 20px;
        margin-left: 18px;
    }

    .images .image1 {
        margin-left: -60px;
    }

    .section2 {
        padding: 60px 0;
    }

    .icon-container {
        gap: 40px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .icon-text {
        font-size: 16px;
        line-height: 24px;
    }

    .dotted-line {
        width: 100px;
        height: 50px;
    }

    .section3,
    .section4 {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .card-container,
    .card-container-second {
        padding: 20px;
        max-width: 500px;
        text-align: left;
        background: rgba(0, 0, 0, 0.7);
    }

    .section3 .card-container {
        margin-left: -550px;
    }

    .section4 .card-container-second {
        margin-left: 550px;
    }

    .card-title,
    .card-container-second .card-title {
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.1em;
    }

    .card-subtitle,
    .card-container-second .card-subtitle {
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1em;
    }

    .card-text,
    .card-container-second .card-text {
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.1em;
    }

    .card-button,
    .card-container-second .card-button {
        font-size: 14px;
        line-height: 35px;
        letter-spacing: 0.1em;
        padding: 10px 20px;
    }

    .section5 {
        padding: 60px 20px;
    }

    .section5-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section5-title {
        font-size: 36px;
        line-height: 42px;
    }

    .testimonial-container {
        gap: 20px;
        padding: 20px;
    }

    .testimonial-photo {
        width: 200px;
    }

    .testimonial-name {
        font-size: 18px;
        line-height: 24px;
    }

    .testimonial-quote p {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }

    .footer {
        padding: 40px 0;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
    }

    .footer-subtitle {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
    }

    .social-icons ul {
        gap: 20px;
    }

    .social-icon img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
    }

    
    header {
        height: 700px; 
    }

    .header-content {
        top: 100px; 
    }

    /* Заголовок Bhromaon */
    header h1 {
        width: auto;
        height: auto;
        font-size: 36px; 
        line-height: 40px;
        left: auto;
        top: auto;
    }

    /* Подзаголовок Safe Travel Anywhere */
    header .subheading {
        width: auto;
        height: auto;
        font-size: 18px; 
        line-height: 24px;
        left: auto;
        top: auto;
    }

    /* Форма поиска */
    .search-form {
        width: auto;
        max-width: 90%;
        left: auto;
        top: auto;
        margin-top: 20px;
    }

    .search-form button {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px;
    }

    .search-description {
        width: auto;
        font-size: 12px;
    }

    /* Меню навигации */
    .navigation {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .nav-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-left .nav-logo {
        margin-left: 0;
        margin-top: 5px;
        font-size: 14px; 
    }

    .nav-logo {
        margin-top: -3px;
    }

    .nav-right {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-right: 0;
        margin-top: 10px;
    }

    .nav-right .nav-link {
        font-size: 12px;
    }

    /* Секция 1 */
    .section1 {
        padding-left: 20px; 
        padding-right: 20px;
    }

    .section1 .container h2 {
        font-size: 24px; 
    }

    .section1 .body-text {
        font-size: 12px; 
    }

    .section1 .images {
        flex-direction: column;
        align-items: center;
    }

    .section1 .images img {
        width: 60%;
        max-width: 200px;
    }

    /* Секция 2 */
    .section2 {
        padding: 20px;
    }

    .icon-container {
        flex-direction: row; 
        gap: 20px;
        justify-content: center; 
        align-items: center; 
    }

    .icon-box {
        width: auto; 
        text-align: center;
        padding: 10px; 
    }

    .icon-text {
        font-size: 18px; 
    }

    /* Секция 3 */
    .section3 .card-container {
        margin: 20px auto;
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .section3 .card-title {
        font-size: 18px; 
    }

    .section3 .card-text {
        font-size: 14px; 
    }

    .section3 .card-button {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }

    /* Секция 4 */
    .section4 {
        padding: 20px;
    }

    .section4 .card-container-second {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 20px auto;
    }

    .section4 .card-title {
        font-size: 18px; 
    }

    .section4 .card-text {
        font-size: 14px; 
    }

    .section4 .card-button {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }

    /* Секция 5 */
    .section5 {
        padding: 20px;
    }

    .section5-content {
        margin-top: 0;
    }

    .section5-title {
        font-size: 24px;
    }

    .testimonial-container {
        flex-direction: column;
        padding: 20px;
    }

    .testimonial-photo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .testimonial-text {
        width: 100%;
        text-align: center;
    }

    .testimonial-quote {
        font-size: 14px; 
    }

    /* Футер */
    .footer {
        padding: 20px;
    }

    .footer-content {
        text-align: center;
        margin-top: 60px;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icon {
        margin: 0 5px;
    }
}

@media screen and (max-width: 576px) {
    /* Общие стили для body */
    body {
        width: 576px;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
    }

    /* Хедер */
    header {
        height: 500px;
    }

    .header-content {
        top: 50px; 
    }

    /* Заголовок Bhromaon */
    header h1 {
        font-size: 32px; 
        line-height: 36px;
    }

    /* Подзаголовок Safe Travel Anywhere */
    header .subheading {
        font-size: 16px; 
        line-height: 20px;
    }

    /* Форма поиска */
    .search-form {
        width: 90%;
        margin-top: 20px;
    }

    .search-form button {
        width: 120px; 
        height: 40px; 
        padding: 5px 10px;
    }

    .search-description {
        font-size: 12px;
    }

    /* Меню навигации */
    .navigation {
        flex-direction: column;
        align-items: center;
    }

    .nav-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nav-left .nav-logo {
        font-size: 16px; 
        margin-left: 20px;
    }

    .nav-right {
        display: none; 
    }

    .burger-menu {
        display: block; 
    }

    /* Мобильная навигация */
    .mobile-nav {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav a {
        font-size: 24px;
        color: white;
        text-decoration: none;
        margin: 10px 0;
    }

    .mobile-nav-header {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
    }

    .close-icon {
        font-size: 36px;
        color: white;
        cursor: pointer;
    }


    #burger-toggle:checked ~ .mobile-nav {
        display: flex;
    }

    /* Секция 1 */
    .section1 {
        padding: 20px; 
    }

    .section1 .container h2 {
        font-size: 20px;
    }

    .section1 .body-text {
        font-size: 12px; 
    }

    .section1 .images img {
        width: 80%; 
    }

    /* Секция 2 */
    .section2 {
        padding: 20px;
    }

    .icon-container {
        flex-direction: row; 
        gap: 20px;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap; 
    }

    .icon-box {
        width: auto; 
        text-align: center;
        padding: 10px; 
    }

    .icon-text {
        font-size: 18px; 
    }

    .icon {
        width: 40px; 
        height: 40px;
    }

    /* Секция 3 */
    .section3 {
        padding: 20px;
    }

    .section3 .card-container {
        margin: 20px auto;
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .section3 .card-title {
        font-size: 18px; 
    }

    .section3 .card-text {
        font-size: 14px; 
    }

    .section3 .card-button {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }

    /* Секция 4 */
    .section4 {
        padding: 20px;
    }

    .section4 .card-container-second {
        width: 90%;
        height: auto;
        padding: 20px;
        margin: 20px auto;
    }

    .section4 .card-title {
        font-size: 18px; 
    }

    .section4 .card-text {
        font-size: 14px; 
    }

    .section4 .card-button {
        width: auto;
        height: auto;
        padding: 10px 20px;
    }

    /* Секция 5 */
    .section5 {
        padding: 20px;
    }

    .section5-content {
        margin-top: 0;
    }

    .section5-title {
        font-size: 24px; 
    }

    .testimonial-container {
        flex-direction: column;
        padding: 20px;
    }

    .testimonial-photo {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .testimonial-text {
        width: 100%;
        text-align: center;
    }

    .testimonial-quote {
        font-size: 14px; 
    }

    /* Футер */
    .footer {
        padding: 20px;
    }

    .footer-content {
        text-align: center;
        margin-top: 60px;
    }

    .social-icons {
        justify-content: center;
    }

    .social-icon {
        margin: 0 5px;
    }
}